#color {
    /* color using defined names */
    color:fuchsia;
    text-decoration:underline double;
} 

#rgb {
    /* color using rgb  */
    color: rgb(0,255,255);
    font-family: "Courier New";
    font-size:xx-small;
}

#rgba {
    /* color using rgba */
    color: rgba(255,0,0,0.5);
    font-size:70px;
    text-decoration:underline wavy;
}

#hsl {
    /* color usinh hue saturation and lightness */
    color: hsl(60,75%,50%);
    text-transform:capitalize;
    text-decoration:underline dotted;
}

#hex {
    /* color using hexadecimal  */
    color : #ff0000;
    text-transform:uppercase;
    /* //none,lowercase also */
}

#pnew { 
    text-decoration: underline red solid 5px;
  }

  /* p { 
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: solid;
    text-decoration-thickness: 5px;
  } */